# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# windows links
*.lnk

# sublime workspace
.directory
*.sublime-workspace

# generated modelsim binaries
modelsim/

# ignore generated quartus binaries
quartus/assembler
quartus/db
quartus/incremental_db
quartus/simulation
quartus/output_files
modelsim/*.wlf
*.bak
