# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# windows links
*.lnk

# sublime workspace
*.sublime-workspace

# assembler bin
assembler/*.bin

# generated modelsim binaries
modelsim/work

# ignore generated quartus binaries
quartus/assembler
quartus/db
quartus/incremental_db
quartus/simulation
quartus/output_files
modelsil/*.wlf
*.bak
